/* colors */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin and padding
  */
* {
  margin: 0;
  padding: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* --------------- */
/* general styling */
/* --------------- */
body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: hsl(1deg, 0%, 57%);
  transition: 0.5s;
}

a:hover {
  color: hsl(42deg, 100%, 50%);
}

h2 {
  color: hsl(1deg, 0%, 57%);
  font-size: 2.5rem;
  letter-spacing: 2px;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

p {
  color: hsl(1deg, 0%, 40%);
}

/* --------------- */
/* utility classes */
/* --------------- */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.section {
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 6rem 0;
  padding: 0 7rem;
}

@media (max-width: 52em) {
  .section {
    margin: 4rem 0;
    padding: 0 4rem;
  }
}
/* --------------- */
/*    reusables */
/* --------------- */
.orange-divider {
  width: 7rem;
  border: 0;
  border-top: 6px solid hsl(42deg, 100%, 50%);
  border-radius: 5px;
  background-color: hsl(42deg, 100%, 50%);
}

.classic-divider {
  width: 80%;
  background-color: hsl(1deg, 0%, 75%);
  border: 0;
  border-top: 1px solid hsl(1deg, 0%, 75%);
  margin: 0 auto;
}

.btn-classic {
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: none;
  background-color: hsl(42deg, 100%, 50%);
  color: hsl(0deg, 0%, 100%);
  transition: transform ease-in 0.2s;
}

.btn-classic:hover {
  transform: scale(1.1);
}

/* header */
header {
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0deg, 0%, 100%);
}

.logo {
  margin: 2rem;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  list-style: none;
  gap: 1rem;
}
.primary-navigation li a {
  font-size: 1.25rem;
  font-weight: 500;
}

@media (max-width: 35em) {
  .primary-navigation {
    position: fixed;
    inset: 0 0 0 30%;
    gap: 2rem;
    z-index: 1000;
    flex-direction: column;
    padding: min(30vh, 10rem) 3rem;
    transform: translateX(100%);
    transition: transform 350ms ease-in-out;
    background: hsla(0deg, 0%, 100%, 0.9);
  }
  .primary-navigation[data-visible=true] {
    transform: translateX(0);
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    top: 2rem;
    right: 2rem;
    border: none;
    background: none;
  }
}
/* section hero */
.hero {
  display: flex;
  min-height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/bg-hero-desktop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero .hero-content {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero-content h1 {
  color: hsl(0deg, 0%, 100%);
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
}
.hero .hero-content h4 {
  color: hsl(0deg, 0%, 100%);
  font-size: 1rem;
  margin-top: 1rem;
  align-self: center;
}

@media (max-width: 52em) {
  .hero {
    min-height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/bg-hero-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
/* section about */
.about-content {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3rem;
}

/* section offer */
.offer-content {
  margin-top: 3rem;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.offer-content ul {
  color: hsl(1deg, 0%, 40%);
}
.offer-content ul li {
  list-style-position: inside;
  padding-left: 0.5rem;
}

@media (min-width: 60em) {
  .offer-content {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .offer-content .offer:not(:first-child) {
    margin-top: 0;
  }
}/*# sourceMappingURL=style.css.map */